.container, .swatch, .grid, .cell, .swatchCell {
  border: 1px solid black;
}

.swatch {
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

.cell {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.swatchCell {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.swatchContainer {
  border: 1px solid black;
}